Repository golemfactory/yapapi, pull requests merged in 2021-05, with the labels that each got.

#344 create simple yacat goth scenario
  examples/yacat/yacat.py
  tests/goth/test_run_yacat.py
Labels: tests

#347 payload example for the managed service
  README.md
  examples/blender/blender.py
  examples/turbogeth/turbogeth.py
  examples/yacat/yacat.py
  pyproject.toml
  tests/goth/test_agreement_termination/requestor.py
  tests/payload/test_payload.py
  tests/payload/test_vm.py
  tests/props/test_base.py
  tests/props/test_builder.py
  tests/rest/test_demand_builder.py
  yapapi/_cli/market.py
  yapapi/executor/__init__.py
  yapapi/package/__init__.py
  yapapi/package/vm.py
  yapapi/payload/__init__.py
  yapapi/payload/package.py
  yapapi/payload/vm.py
  yapapi/props/__init__.py
  yapapi/props/base.py
  yapapi/props/builder.py
  yapapi/props/inf.py
Labels: EPIC: Long Running Services, EPIC: [LRS] Services HL API

#358 Repeat API calls on timeouts
  tests/rest/test_repeat_on_error.py
  yapapi/rest/common.py
  yapapi/rest/market.py
  yapapi/rest/payment.py
Labels: beta.1.patch.5

#413 Use devnet-beta.2 as the default subnet in examples
  examples/utils.py
Labels: beta.2
